
.traffic{
  display: 'flex';
  position: relative;
  margin-left: 200px;
  align-items: center;
  flex-direction: column;
  width: 125px;
  height: 330px;
  border: 3px solid rgba(209, 142, 17, 0.856);
  background-color: rgb(36, 33, 33);
  border-radius: 25px; 
  padding-left: 20px;
  padding-top: 10px;
}

.traffic-container{
  padding-left: 50px;
  top: 50px;
  position:absolute
}
